.title {
  text-align: center;
  padding-top: 5px;
}

.about {
  color: darkblue;

}

.me {
  color: white;
  background-color: darkblue;
}

.profile {
  max-height: 300px;
  width: auto;
}

.intro {
  margin-top: 5px;
  text-align: justify;
}

p {
  font-size: 16px;
}

.blue {
  color: darkblue;
  font-weight: bold;
}

.center {
  text-align: center;
}

.top {
  padding-top: 3%;
}

.margin {
  padding-top: 4%;
}

.bluerow {
  margin-bottom:2%;
  color:darkblue;
  font-weight: bold;
  float:left;
}
.left{
  float:left;
}
.textarea {

}
.gap{
  margin-top:3%;
}
.littlegap{
  margin-top:2%;
}
