.blue{
  background-color: darkblue;
 height: 100px;
}
.input{
  width:100%;
}
.red{
  height: 35px;
  width: 100%;
 margin-top:6%;
  background-color: #00008b;
}
.textarea{
  width:100%;
  min-height:20px;
}
.submit{
  margin-top:5px;
}
.right{
  float: left;
}
.field{
  margin-top: 5px;
}
.col-centered{
  margin-top:2%;
}
.theform{
  margin-bottom: 8%;
}
.text-white{
 color:white;
}
.submit{
  background-color: darkblue;
  color:white;
}
